*
	box-sizing border-box

body
	font 100 16px/1.2 "Open Sans",sans-serif
	color #444
	background #EEE

h1
	margin 0 0 30px 0

h1 > *
	display inline-block
	vertical-align middle

h1 > svg
	width 40px
	height 40px
	margin-right 10px

main
	max-width 700px
	padding 30px 50px
	margin 0 auto
	background white

ul
	list-style none
	margin 0
	padding 0

	li
		list-style none
		margin 0
		padding 0